<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.movnpack">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginModule.LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".LoginModule.SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SP.SPSignUpActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".DrawerModule.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".DrawerModule.SPDrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SP.spProfileInfo"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".BidPlacementActivities.UserBidPlacementActivity"
            android:label="@string/title_activity_user_bid_placement"
            android:theme="@style/AppTheme.Dark" />

        <service android:name=".Helpers.MyFirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".UserServiceProviderCommunication.UserBidActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".BidPlacementActivities.SPBidRecievedActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".BidPlacementActivities.SPCounterBidActivity"
            android:theme="@style/AppTheme.Dark" />

        <service android:name=".Helpers.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".UserServiceProviderCommunication.SPBidActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".UserServiceProviderCommunication.UserBidConversationActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".UserServiceProviderCommunication.ServiceConfirmationActivity"
            android:theme="@style/AppTheme.Dark" />
    </application>

</manifest>